.ie8 {
	.component-left {
		width:50%;
	    float:left;
	    .component-inner {
	        margin-right:5%;
	    }
	}
	.component-right {
		width:50%;
	    float:right;
	    .component-inner {
	        margin-left:5%;
	    }
	}
}