{{! Maintainers - Daryl Hedley}}
{{! .component-container: Adapt will place the blocks components inside this class}}
<div class="block-inner component-container">
    {{! Check if a page title exist and render it}}
    {{#if title}}
    <div class="block-title">
        <h3 class="block-title-inner">
            {{{title}}}
        </h3>
    </div>
    {{/if}}
</div>