{{! Maintainers - Daryl Hedley}}
{{! All links in the nav bar should have an attritbue of data-event, navigationView uses this to fire a global event}}
<div class="navigation-inner">
    <a href="#" class="icon menu-icon" data-event="menu" alt="Menu"></a>
</div>