{{! Maintainers - Daryl Hedley}}
{{! .article-container: Adapt will place the pages articles inside this class}}
<div class="page-inner article-container">
    {{! Check if a page title exist and render it}}
    {{#if title}}
    <div class="page-title">
        <h1 class="page-title-inner">
            {{{title}}}
        </h1>
    </div>
    {{/if}}
</div>