<button class="base button submit">
    <span>  
        {{{_buttons.submit}}} 
    </span>
</button>
<button class="base button reset">
    <span>
        {{{_buttons.reset}}} 
    </span>
</button> 
<button class="base button model">
    <span> 
        {{{_buttons.showCorrectAnswer}}} 
    </span>
</button>
<button class="base button user">
    <span>
        {{{_buttons.hideCorrectAnswer}}} 
    </span>
</button>
