// THIS IS WHERE WE CAN DECLARE ANY OTHER VARIABLES (ie. device-width, border-width etc.)


// Borders and Outlines
// ====================

@focus-outline: 3px solid orange; //focus outline is displayed when accessibility is enabled
@button-border: 0px solid @button-border-color;
@item-border: 3px solid @item-border-color;
