// Legacy
// ======


// Font
@font-weight-normal: 400;


// Item
@item-spacing: 2px; // Item spacing Legacy


// Notify
@notify-popup-padding-top: 30px;
@notify-popup-padding-right: 30px;
@notify-popup-padding-bottom: 30px;
@notify-popup-padding-left: 30px;
@notify-popup-padding: @notify-popup-padding-top @notify-popup-padding-right @notify-popup-padding-bottom @notify-popup-padding-left;