{{! make the _globals object in course.json available to this template}}
{{import_globals}}

<div class="block__inner">

  {{#any displayTitle body instruction}}
  <div class="block__header">
    <div class="block__header-inner">

      {{#if displayTitle}}
      <div class="block__title">

        {{#unless _disableAccessibilityState}}
        <div class="js-heading"></div>
        {{~/unless~}}

        <div class="block__title-inner"{{#unless _disableAccessibilityState}} aria-hidden="true"{{/unless}}>
          {{{compile displayTitle}}}
        </div>

      </div>
      {{/if}}

      {{#if body}}
      <div class="block__body">
        <div class="block__body-inner">
          {{{compile body}}}
        </div>
      </div>
      {{/if}}

      {{#if instruction}}
      <div class="block__instruction">
        <div class="block__instruction-inner">
          {{{compile instruction}}}
        </div>
      </div>
      {{/if}}

    </div>
  </div>
  {{/any}}

  <div class="component__container">
    {{!-- Components render here --}}
  </div>

</div>
