<button class="drawer__item-open {{className}}">

  {{#if title}}
  <div class="drawer__item-title">
    <div class="drawer__item-title-inner">
      {{{title}}}
    </div>
  </div>
  {{/if}}

  {{#if description}}
  <div class="drawer__item-description">
    <div class="drawer__item-description-inner">
      {{{description}}}
    </div>
  </div>
  {{/if}}

</button>
