<div class="drawer-inner">
	{{{a11y_aria_label _globals._accessibility._ariaLabels.drawer}}}
	<div class="drawer-holder">
	</div>
	<div class="drawer-toolbar clearfix">
		<div class="drawer-back-button">
		<button class="base drawer-back icon icon-controls-small-left" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
		</button>
		</div>
		<div class="drawer-close-button">
		<button class="base drawer-close icon icon-cross" aria-label="{{_globals._accessibility._ariaLabels.closeDrawer}}">
		</button>
		</div>
	</div>
	{{{a11y_wrap_focus}}}
</div>
