<button class="base drawer-item-open {{className}}">
	<div class="drawer-item-title">
		<div class="drawer-item-title-inner h5">{{{title}}}</div>
	</div>
	<div class="drawer-item-description">
		<div class="drawer-item-description-inner">{{{a11y_text description}}}</div>
	</div>
</button>