<div class="drawer-inner">
	<span class='aria-label prevent-default' tabindex='0' role='region'>{{_globals._accessibility._ariaLabels.drawer}}</span>
	<div class="drawer-holder">
	</div>
	<div class="drawer-toolbar clearfix">
		<div class="drawer-back-button">
		<button class="base drawer-back icon icon-controls-small-left" role="button" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
		</button>
		</div>
		<div class="drawer-close-button">
		<button class="base drawer-close icon icon-cross" role="button" aria-label="{{_globals._accessibility._ariaLabels.closeDrawer}}">
		</button>
		</div>
	</div>
</div>
