<div class="loading js-loading">
  <div class="loading__inner">
    {{!-- Convert to translatable json object --}}
    {{!-- <div role="heading" tabindex="0" class="h3" aria-level="1"> --}}
    Loading...
  </div>
</div>
