{{! Maintainers - Brian Quinn}}
{{! .loading-image contains the overlay with the animated image which is displayed while content is loaded in}}
<div class="loading">
    <div class="loader-gif"><div role="heading" tabindex="0" class="h3" aria-level="1">Loading...</div></div>
</div>