{{! make the _globals object in course.json available to this template}}
{{import_globals}}

{{! All links in the nav bar should have an attribute of data-event, navigationView uses this to fire a global event}}
<div class="nav__inner u-clearfix js-nav-item-container">
  <div class="nav__inner-left u-clearfix js-nav-item-container-left"></div>
  <div class="nav__inner-middle u-clearfix js-nav-item-container-middle"></div>
  <div class="nav__inner-right u-clearfix js-nav-item-container-right"></div>
</div>
