{{! make the _globals object in course.json available to this template}}
{{import_globals}}

<button class="btn-icon nav__btn nav__back-btn js-nav-back-btn u-display-none" data-event="{{_eventName}}" aria-label="{{_globals._accessibility._ariaLabels.previous}}" role="link">
  <div class="icon"></div>
</button>
