{{! All links in the nav bar should have an attritbue of data-event, navigationView uses this to fire a global event}}
<div class="navigation-inner clearfix" role="navigation" aria-label="{{_globals._accessibility._ariaLabels.navigation}}">
    <button class="base navigation-back-button icon icon-controls-small-left" data-event="backButton" role="button" aria-label="{{_globals._accessibility._ariaLabels.previous}}"></button>
    <button class="base navigation-drawer-toggle-button icon icon-list display-none" data-event="toggleDrawer" role="button" aria-label="{{_globals._accessibility._ariaLabels.navigationDrawer}}"></button>
</div>