<div class="notify-push-inner" role="region" aria-label="{{_globals._accessibility._ariaLabels.feedbackPopUp}}">
	<div class="notify-push-title">
		<div class="notify-push-title-inner h5" tabindex="0" role="heading" aria-level="1">
			{{{title}}}
		</div>
	</div>
	<div class="notify-push-body">
		<div class="notify-push-body-inner">
			{{{a11y_text body}}}
		</div>
	</div>
</div>
<button class="base notify-push-close" role="button" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
	<span class="icon icon-cross"></span>
</button>
