name: Test Runner
on: pull_request
jobs:
  test:
    name: Build and Launch Course
    runs-on: ubuntu-latest
    timeout-minutes: 59

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "14"
          cache: "npm"

      - name: Installing Environment
        run: npm ci &&
          npm install -g git &&
          npm install -g adapt-cli &&
          npm install -g grunt

      - name: Running Tests
        run: npm run test
