<div class="component-inner">
    {{#if title}}
    <div class="component-title">
        <h4 class="component-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="component-body">
        <div class="component-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
</div>